@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4;
    background: #fefffe;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Utility classes */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 3rem;  
    overflow: hidden; 
}

.svg-icon{
    height: 7rem;
    max-width: auto;
}

.blue-circle{
    background: #6dd1f3;
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.5rem;
    
}

.blue-tag{
    padding: 0 .25rem;
    color: #fff !important;
}
.btn{
    display: inline-block;
    border: 1px solid #666363;
    padding: 0.75rem 0.24rem;
    color: #065A74;
}

/* padding */
.pt-1{  padding-top: 1rem;}
.pt-2{  padding-top: 2rem;}
.pt-3{  padding-top: 3rem;}
.pt-4{  padding-top: 4rem;}

.py-1{  padding: 1.5rem 0;}
.py-2{  padding: 2rem 0;}
.py-3{  padding: 3rem 0;}
.py-4{  padding: 4rem 0;}

.p-1{   padding: 1.5rem}
.p-2{   padding: 2rem;}
.p-3{   padding: 3rem;}
.p-4{   padding: 4rem;}
.p-5{   padding: 5rem;}

/* Margin */
.mb-1{  margin-bottom: 1rem}
.mb-2{  margin-bottom: 2rem}
.mb-3{  margin-bottom: 3rem}

.bg-primary{
    background: #308ED7;
}

.bg-dark{
    background: #0b0b0b;
    color: #fefffe;
    border: none;
}
.btn-light{
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 0.625rem 0.45rem;
    cursor: pointer;
    color: #065A74;
}

.btn-login{
    background: #308ED7;
    color: #FFFAFA;
    padding: 1rem 2.3rem;
    display: inline-block;
    margin: 0 auto;
    border-radius: .3125rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-white{
    color: #fff;

}
.text-primary{
    color: #72D3F2;
    font-size: 2rem;
}

.text-secondary{
    color: #19b4e7;
}

.text-welcome{
    color: #308ED7;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-dark{
    font-weight: 600;
}

.btn-sign{
    display: inline-block;
    border: none;
    padding: 0.45rem .55rem;
    border-radius: 1.35rem;
    background: #72D3F2;
    color: #fff;
}

.btn-tertiary{
    background: #FFC400;
    border: none;
    padding: 0.65rem 0.3rem;
    border-radius: 0.45rem;
    color: #fff;
}

.m-heading{object-fit: contain;
    font-size: 2.45rem;
    margin-bottom: 0.17rem;
    line-height: 1.4;
}

.lead{
    font-size: 1.65rem;
    margin-bottom: 0.3125rem;
}

/* NavBar */
#navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #FFFAFA;
    padding: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    
}

#navbar ul{
    display: flex;
    align-items: center;
}

#navbar ul li a{
    display: inline-block;
    padding: 0.55rem;
    text-transform: capitalize;
    margin: 0 0.65rem;
}

#navbar ul li a span{
    color: #000;
}

/*section: Showcase */
#showcase{
    display: flex;
    margin: 5rem 0;
}
#showcase .showcase-items{
    justify-content: space-evenly;
    align-items: center;
}


#showcase  div{
    flex: 1;
}

#showcase .showcase-content{
    padding: 5rem 1rem;
}



#showcase .showcase-img img{
    max-width: 100%;
}

/* Section: Get High Demand Skills */
#demand-info .info-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Section: What we do */
#what .items{
    display: flex;
    padding: 1rem;
}

#what .items .item{
    padding: 1rem;
    text-align: center;
}

#what .items .item p{
    font-size: 1.22rem;
    line-height: 1.5;
    font-weight: 400;
}

/* Section: categories */
#categories .category-items{
    display: flex;
    flex-flow: row wrap;
}

#categories .category-items .category-item{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 0.75rem;
    
    
}

#categories .category-items .category-item  h3{
    font-size: 1.33rem;
}
.box{
    padding: 1rem 2.5rem;
    background: #3BB1D7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75),
    0px 4px 4px rgba(0, 0, 0, 0.75);
}

/* Section: Design Platform */
#design .design-items{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #ddd;
}

#design .design-items .design-item{
    justify-content: space-between;
    margin: 0 0.45rem;
    flex: 1;
    align-items: center;
    padding: 0rem 1rem;
    text-align: center;
    align-content: center;
    
    
}
#design .design-items .design-item h3{
    margin-bottom: 0.28rem;
    font-size: 1.4rem;
}


#design .design-items .design-item .active{
    border-bottom: 6px solid #6dd1f3;
}

/* Design Cards */
#design-cards .card-contents{
    display: flex;
    flex-flow:row wrap;
    
    
}

#design-cards .card-contents .card-info{
    flex: 1;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75),
    0px 4px 4px rgba(0, 0, 0, 0.75);
    margin: 0.95rem;
    padding: 0.05rem 0 0.35rem 0;
    
}

#design-cards .card-contents .card-info .header{
    background: #3BB1D7;
    padding: 0.5rem 1rem;
}

#design-cards .card-contents .card-body{
    padding: 0.23rem 0.11rem;
}

#design-cards .card-contents .card-body img{
    width: 100%;
    object-fit: contain;
    
}

.fa-star{
    color: #FFC400;  display: flex;
    padding: 0 0.32rem;
}

#design-cards .card-contents .card-footer{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    padding: 0 0.12rem;
}

.price-tag{
    padding: 0 0.5rem;
}

hr.m-rule{
    border: 1px solid #666363;
    margin: 0 auto;
    width: 60%;
    background-color: #065A74;
}

/* Section: Testimonials */

#testimonials .testimonial-items{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 0;
    padding: 0 1rem;
}

#testimonials  .testimonial-item{
    display: flex;
    margin: 0 1rem;
    padding: 1.5rem;
    flex: 1;
    background: #fffff0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75),
    0px 4px 4px rgba(0, 0, 0, 0.75);
}
#testimonials h2{
    background: #3BB1D7;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    
}

#testimonials .blue-circle h2{
    font-size: 2rem;
}

#testimonials .testimonial-items .testimonial-item .info-msg{
    padding: 1rem 0.74rem;
}

#testimonials .testimonial-items .testimonial-item .name-list{
    text-transform: uppercase;
    margin-top: 2rem;
}

/* Section: Lead Instructors */
#lead-instructors .instructors{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#lead-instructors .instructors .instructor{
    flex: 1;
    padding: 1.3rem;
    margin: 1rem;
}

#lead-instructors .instructors img{
    height: 6.25rem;    
    width: auto;
    object-fit: contain;
   
}

#lead-instructors .details{
    
    padding: 2.33rem 0.75rem;
    position: relative;
    bottom: 3rem;
    z-index: -1;
    background: #fff;
    box-shadow: 4px 4px 10px  rgba(114,202,242,0.32),
                4px 4px 10px  rgba(114,202,242,0.32);
    border-radius: 0.875rem;
   
}

.details h3,
h5,
h4,
p{
    margin-bottom: 1rem;
}

.details h3{
    padding-top: 0.75rem; 
}

.details h5{
    font-weight: 400;
    font-size: 1.14rem;
}

.details p{
    font-size: 1.2rem;
    font-weight: 300;
}

.details h4{
    font-weight: 400;
    font-size: 1.17rem;
}

/* Section: Sponsors */
#sponsors .sponsors-items{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1;
}

.sponsors-items .sponsor-logo{
    padding: 0.75rem;
    
}

.sponsor-logo img{
    height: 2.2rem;
}

/* Section: Welcome */
.form-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-wrapper{
    border: 0.1rem solid #19b4e7;
    box-shadow: 0px 4px 4px #72D3F2,
                0px 4px 4px #72D3F2;
    border-radius: 1rem;
    padding: 3rem;
}

.form-wrap > *{
    margin: 0 auto;
    
}

.form-group{
    padding: .65rem;
}

.form-group label{
    
    display: block;
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.2rem;
    color: #4a5568;
    line-height: 1.5;
    font-weight: 700;
 
}

.form-group input[type="email"],[type="password"],[type="text"]{
    padding: 1rem;
    width: 100%;
    border: #72D3F2 1px solid;
}

input[type="checkbox"]{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .125rem;
}

.form-group input:focus{
    outline: none;
    border-color: #19b4e7;
}
.login{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.login-footer{
    display: flex;
    justify-content: space-between;
}

.sign-up a{
    cursor: pointer;
}

.sign-up a:hover{
    color: #3BB1D7;
}

/* Section: Student Page */
::placeholder{
    font-size: 1rem;
    font-weight: 600;
}


/* Section: Programming */
#program{
    padding-top: 7rem;
}
#program .note-items{
    display: flex;
   flex-direction: column;
}

#program .course-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.533rem;
    font-style: italic;
}


.course-underline{
    border-bottom: 0.2rem solid #111;
}
.note-items .notes{
    display: flex;
    justify-content: space-between;
    margin: 0.75rem;
    padding: .35rem 1.5rem;
}

.name-bg{
    background: #19b4e7;
    font-size: 1.7rem;
    border-radius: 50%;
    margin: 1rem 0;
    padding: 0 .55rem;
    height: 2.5rem;
}

#i-text{
    padding: 0 .30rem;    
}

.note-list{
    padding: 0 2.231rem;
    width: 100%;
    
}
.border-notes{
    background: #ddd;
    /* border: 1px solid #ddd; */
    margin: 1rem auto;
    padding: .56rem 0;
}

.note-lg{
    padding: 1rem 0;
}

/* Section: Purchase */
.purchase-bg{
    background: linear-gradient(
    to right, 
    #ff9e2c 0%, 
    #ff9e2c 50%, 
    #b6701e 50%, 
    #b6701e 100%
    );
}



























/* Section: Footer */
#main-footer{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1;
}



#main-footer .footer-col-1{
    padding: 1.5rem 0;
    margin: 0.65rem 1.5rem;
    
}

#main-footer .footer-col-1 h3{
    margin-bottom: 0.75rem;
}

#main-footer .footer-col-1 img{
    margin-top: 3rem;
    height: 1.95rem;
    max-width: 100%;
    object-fit: contain;
    object-position: top;
}

#main-footer .footer-col-1 .links ul li{
    padding-bottom: 0.25rem;
}

#main-footer .footer-col-1 .links ul li a{
    color: #0b0b0b;
    font-size: 1.12rem;
}

#main-footer .footer-col-1 .mail-info li a{
    color: #0b0b0b;
    font-size: 1.1rem;
}

#main-footer .form-group{
    display: flex;
    flex-flow: row wrap;
    
}

#main-footer .form-group input{
    padding:  0.75rem;
    border-radius: 0.325rem;
    border: none;
}

#main-footer .form-group input::placeholder{
    font-size: 0.98rem;
    font-weight: 700;
}

#main-footer .form-group input:last-child{
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
}

#main-footer .copyright{
    font-size: 1.25rem;
}